:root {
  --window-inset-top: env(safe-area-inset-top, 0px);
  --window-inset-right: env(safe-area-inset-right, 0px);
  --window-inset-bottom: env(safe-area-inset-bottom, 0px);
  --window-inset-left: env(safe-area-inset-left, 0px);
}
